body {
    font-size: 16px;
    font-family: Arial, sans-serif; 
    max-width: 800px;
}

header {
    background-color: #29273a;
    padding: .5rem 2%;
    color: #ddd;
}

header h1 {
    margin: 0;
    padding: .5rem 2%;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

/*----------- FORM STYLE-----------*/
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(161, 155, 155, 0.1);
}

.fr1 fieldset {
    margin-bottom: 20px;;
}

.fr1 legend, div {
    color: #290345;
    padding: 0 .5rem;
}

.fr1 label {
    display: flex;
    align-items: center;
    margin-right: 10px;    
    color:#290345;
}

.fr1 input, select{
    width: 100%;
    padding: 8px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;  
    margin-bottom: 10px;
    font-size: medium;
    box-sizing: border-box;     
}

.fr1 input[type="radio"] {
    margin-right: 5px;
}

.fr1 .radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 5px;    
}

.fr1 .radio-group label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fr1 textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 4px;  
    box-sizing: border-box;
}

.fr1 input[type="date"], .fr1 input[type="text"] {
    width: calc(100% - 16px); /*Adjuste to avoid overflow */
    margin-top: 5px;
}

.fr1 input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

.fr1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#29273a, #54507a);
    color: #fff;
    border-radius: 6px;
    padding: .10rem;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    font-size: large;
}

.fr1 input[type="submit"]:hover {
    background-color: #000;
}

/*----------- FOOTER-----------*/
footer {
    background-color: #29273a;
    padding: .5rem 2%;
    text-align: center;
    color: #ddd;
}